@page "/newworkout"
@using AnywhereFit.Data

<PageTitle>New Workout</PageTitle>

<h1>New Workout</h1>

<p>Add some instructions here...</p>

<hr />

@if (!isWorkoutCreated)
{
    <div class="form-group">
        <label for="numExercises">Number of Exercises:</label>
        <select class="form-control" id="numExercises" @bind="@_numExercises">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>
    </div>
    <br />
    <div class="form-group">
        <label for="workoutType">Workout Type:</label>
        <select class="form-control" id="workoutType" @bind="@_workoutType">
            <option value="Upper Body">Upper Body</option>
            <option value="Lower Body">Lower Body</option>
            <option value="Full Body">Full Body</option>
            <option value="Cardio">Cardio</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-success" @onclick="HideDivTest">Create Workout</button>
}
else
{
    @*TODO: Add while loop to cycle through exercise cards. *@
    <p>Doing my workout! (placeholder)</p>
    <button type="submit" class="btn btn-danger" @onclick="HideDivTest">Finish Workout</button>
}



@code {
    private bool isWorkoutCreated { get; set; } = false;
    private int _numExercises { get; set; } = 5;
    private string _workoutType { get; set; } = "Upper Body";

    private void HideDivTest()
    {
        isWorkoutCreated = !isWorkoutCreated;
    }
}
