@page "/newworkout"
@using AnywhereFit.Data
@inject NavigationManager Navigation

<PageTitle>New Workout</PageTitle>

<h1>New Workout</h1>

<p>Add some instructions here...</p>

<hr />

@if (workoutState == _workoutState.New)
{
    <div class="form-group">
        <label for="numExercises">Number of Exercises:</label>
        <select class="form-control" id="numExercises" @bind="@_numExercises">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>
    </div>
    <br />
    <div class="form-group">
        <label for="workoutType">Workout Type:</label>
        <select class="form-control" id="workoutType" @bind="@_workoutType">
            <option value="Upper Body">Upper Body</option>
            <option value="Lower Body">Lower Body</option>
            <option value="Full Body">Full Body</option>
            <option value="Cardio">Cardio</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" @onclick="CreateWorkout">Create Workout</button>
}
else if (workoutState == _workoutState.Created)
{
    @*TODO: Add while loop to cycle through exercise cards. *@
    <p>Are you ready to get after it? (placeholder)</p>
    <button type="submit" class="btn btn-success" @onclick="StartWorkout">Start Workout</button>
}
else if (workoutState == _workoutState.WorkingOut)
{
    <p>Doing my workout! (placeholder)</p>
    <button type="submit" class="btn btn-info" @onclick="FinishWorkout">Finish Workout</button>
}
else if (workoutState == _workoutState.Finished)
{
    <p>You killed it! Great job! (placeholder)</p>
    <button type="submit" class="btn btn-primary" @onclick="SaveWorkout">Finish Workout</button>
}
else
{
    <p>Workout has been saved! (placeholder)</p>
    <button type="submit" class="btn btn-warning" @onclick="ExitWorkout">Exit</button>
}




@code {
    private int _numExercises { get; set; } = 5;
    private string _workoutType { get; set; } = "Upper Body";
    private enum _workoutState { New, Created, WorkingOut, Finished, Save };

    _workoutState workoutState = _workoutState.New;

    private void CreateWorkout()
    {
        workoutState = _workoutState.Created;
    }

    private void StartWorkout()
    {
        workoutState = _workoutState.WorkingOut;
    }

    private void FinishWorkout()
    {
        workoutState = _workoutState.Finished;
    }

    private void SaveWorkout()
    {
        workoutState = _workoutState.Save;
    }

    private void ExitWorkout()
    {
        Navigation.NavigateTo("/");
    }
}
