<br />
<br />

<div class="text-body text-sm-center">
    <h6>
        <a href="https://www.flaticon.com/free-icons/strong" title="strong icons">Strong icons created by Darius Dan - Flaticon</a><br />
        <a href="https://www.flaticon.com/free-icons/workout" title="workout icons">Workout icons created by Leremy - Flaticon</a><br />
        <a href="https://www.flaticon.com/free-icons/chart" title="chart icons">Chart icons created by Freepik - Flaticon</a><br />
    </h6>
</div>